.hp {
	/*--------------------------------------------------------------
	Forms
	--------------------------------------------------------------*/
	&-form {
		margin: 0;

		.g-recaptcha {
			margin-bottom: 1.5rem;
		}
	}

	/*--------------------------------------------------------------
	Listing search form
	--------------------------------------------------------------*/
	&-form {
		&--listing-search {
			display: flex;
			margin: 0 -.5rem;
		}
	}
}
