/*--------------------------------------------------------------
Mixins
--------------------------------------------------------------*/

.image-wrapper {
	img {
		display: block;
		width: 100%;
	}
}

.hp {
	/*--------------------------------------------------------------
	Forms
	--------------------------------------------------------------*/
	&-form {
		margin: 0;

		&__field {
			&--email,
			&--number,
			&--password,
			&--search,
			&--select,
			&--text,
			&--textarea {
				width: 100%;
			}

			input[type=checkbox],
			input[type=radio] {
				margin-right: 0.5rem;
			}

			&--textarea {
				max-width: 100%;
				min-height: 8rem;
			}

			&--attachment-upload {
				&::after {
					display: table;
					clear: both;
					content: '';
				}

				label {
					position: relative;
					float: left;
					overflow: hidden;
				}

				input[type='file'] {
					font-size: 200px !important;
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					cursor: pointer;
					opacity: 0;
					direction: ltr;
				}

				> div:first-child {
					&:not(:empty) {
						margin-bottom: -2rem;
						padding-bottom: 1rem;
					}

					> div {
						position: relative;
						margin-bottom: 2rem;
						.image-wrapper;

						&:not(:only-child) img {
							cursor: move;
						}

						a {
							position: absolute;
							top: 0.5rem;
							right: 1.5rem;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 1.5rem;
							height: 1.5rem;
							text-decoration: none;
							color: #fff;
							background-color: rgba(0,0,0,.5);
						}
					}
				}
			}
		}

		.g-recaptcha {
			margin-bottom: 1.5rem;
		}
	}
	/*--------------------------------------------------------------
	Listing search form
	--------------------------------------------------------------*/
	&-form {
		&--listing-search {
			display: flex;
			margin: 0 -.5rem;
		}
	}
	// todo
	&-block {
		&[data-state=loading] {
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(255,255,255,.5);
			}
		}
	}
	/*--------------------------------------------------------------
	Listings
	--------------------------------------------------------------*/
	&-listing {
		&--view-summary {
			margin-bottom: 2rem;
		}

		&--view-summary &__content,
		&--view-summary &__header {
			margin-bottom: 1rem;
		}

		&--view-summary &__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&--view-summary &__summary {
			margin-bottom: 0.5rem;
		}

		&--view-summary &__actions,
		&--view-summary &__attributes--primary,
		&--view-summary &__properties {
			display: flex;
			align-items: center;
		}

		&__image,
		&__images {
			.image-wrapper;
		}

		&__images {
			&-slider {
				margin-bottom: 1rem;
			}

			&-carousel {
				overflow: hidden;

				.slick-list {
					margin: 0 -.5rem;
				}

				.slick-slide {
					padding: 0 0.5rem;
					outline: none;

					img {
						cursor: pointer;
						opacity: 0.5;
					}
				}

				.slick-current img,
				.slick-slide img:hover {
					opacity: 1;
				}

				.slick-arrow {
					position: absolute;
					z-index: 1;
					top: 50%;
					display: block;
					width: 2rem;
					height: 2rem;
					margin-top: -1rem;
					text-align: center;
					line-height: 2rem;
					color: #fff;
					background-color: rgba(0,0,0,.5);
					cursor: pointer;

					&.slick-disabled {
						top: -9999px;
					}
				}

				.slick-prev {
					left: 1rem;
				}

				.slick-next {
					right: 1rem;
				}
			}
		}

		&__title {
			margin: 0 0 0.5rem;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		&__date {
			font-size: 80%;
			display: block;
		}

		&--view-summary &__attributes--primary &__attribute {
			font-size: 120%;

			&:not(:first-child) {
				margin-left: 1rem;
			}
		}

		&--view-summary &__actions--primary &__action {
			opacity: 0.5;

			&:hover,
			&[data-state=active] {
				opacity: 1;
			}

			&:not(:first-child) {
				margin-left: 1rem;
			}
		}
	}
	/*--------------------------------------------------------------
	Vendors
	--------------------------------------------------------------*/
	&-vendor {
		&--view-summary {
			margin-bottom: 2rem;
		}

		&--view-summary &__content,
		&--view-summary &__header {
			margin-bottom: 1rem;
		}

		&--view-summary &__summary {
			margin-bottom: 0.5rem;
		}

		&__image {
			.image-wrapper;
		}

		&__name {
			margin: 0 0 0.5rem;
			text-align: center;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		&__date {
			font-size: 80%;
			display: block;
			text-align: center;
		}
	}
}
